.fighters-list {
  display: flex;
  flex-direction: column;
} 

.opponent-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow-wrap: break-word; */
}

.cardTitle {
  text-align: center;
  padding: 1rem;
}

.opponent-image {
  width: 300px;
  height: 300px;
}

.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 7px;
  overflow: wrap;
}

.stats-list {
list-style-type: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 1rem;
}

.stats-list > li {
margin: 0.5rem;
color: rgb(119, 0, 255)
}

.opponent {
display: flex;
justify-content: center;
margin-top: 1rem;
align-items: center;
flex-direction: column;
background: -webkit-linear-gradient(yellow, orange, red);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: black;
border: 0px solid blue;
border-radius: 10px;
margin: 2rem;
}
