.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    text-align: center;
    /* padding: 1rem; */
}

.result-title {
    width: 70%;
    padding: 2rem;
  background: -webkit-linear-gradient(red, orange, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}