body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fighter-image {
    width: 300px;
    height: 300px;
}

.cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px black;
    margin: 10px;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 7px;
    overflow: wrap;
}

.stats-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-list > li {
  margin-top: 0.5rem;
  color: white;
}

.fighter-profile {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 5px solid red;
  border-radius: 5px;
  margin: 2rem;
  width: 40%;
}
